name: Next.js CI/CD - democicd

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            export PATH=$HOME/node/bin:$PATH
            cd /home/democicd/apps/democicd
            git pull origin main
            npm ci
            npm run build
            pm2 restart democicd-nextjs || pm2 start npm --name democicd-nextjs -- start
            pm2 save
